@{
    ViewBag.Title = "PaymentInstruction";
}

<div class="body-container ">
    <div class="form-group">
        <div class="row form-group">
            <div class="col-md-12 ">
                If you pay us, ALWAYS mention your country code + your email-address,
                (as for example US prefix@company.com) because that is the only coordinate that we have about you !!!!!!
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-12 ">
                If you pay us via bank-transfer, you have to pay us before : ../../….((date of your incoming email + 10 days))
                Paying the above sum as ‘all currency change costs + sending bank costs + receiving bank costs.
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-12 ">
                If we don’t receive the NET amount, we will not send the lessons !!!
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-12 ">
                to<ul>
                    <li>
                        our company name
                    </li>
                    <li>
                        our account number
                    </li>
                    <li>
                        IBAN / Swift code of our bank (depending on country)
                    </li>
                </ul>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-12 ">
                But we strongly advize to pay us via ,<a href='http://www.transferwise.com'>www.transferwise.com</a>
                in that case, pay us  before   …..   ((email date + 15 days)), and send  the above sum (with ZERO transfer costs to : ………  ((our coordinates ))
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-12 ">
                2 ways of paying with Transferwise :
                <ul>
                    <li>
                        If an international payment is rather ‘abnormal’ for you
                        Because you pay in Dollars to our Dollar account,
                        you will have NO COSTS AT ALL using Transferwise.<br />
                        There is a video guide how to do a transfer, it is located here
                        <a href="https://ww.youtube.com/watch?yai_ipiblsA"> (( https://ww.youtube.com/watch?yai_ipiblsA )) </a>
                    </li>
                    <li>
                        How does it work? video is only in English at the moment.
                        <a href="https://ww.youtube.com/watch?v=WQKoJtCrFsw"> (( https://ww.youtube.com/watch?v=WQKoJtCrFsw  )) </a>
                    </li>
                    <li>
                        If you ‘regularly’ have international payments
                        You will find on their website all the information
                        to create your own Transferwise account, and save heaps of money,
                        compared to do international payments via your bank-account.
                    </li>
                </ul>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-12">
                PLEASE NOTE !
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-12">
                Because the results of this abundance-course DEPEND TOTALLY ON YOU, and because  “One can lead a horse to the water, but one can not make it drink.”
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-12">
                And because ‘i can show you the way to abundance,But you will have to walk each step to that way to abundance’
                we advise you to First test ebook1, but please note that you will not be repaid for any ebook,
                <ul>
                    <li>
                        not even via your payment-intermediator
                    </li>
                    <li>
                        for reasons mentioned higher.
                    </li>
                </ul>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-12">
                Thanks a lot,
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-12">
                After booking your payment, and checking your fairness as mentioned above,
                you will immediately have access to your 1st ebook
                followed by 5 extra ebooks,  1 every 15 days. (after your total payment or separated payments)
                </div>
                </div>

                <div class="row form-group">
                    <div class="col-md-12">
                !! +- a year after we booked your total payment, or your last payment
                I will probably present  you a FREE MEMBERSHIP  of a special system that we are programming right now.  It will allow you to regain multiple times this investment.
            </div>
        </div>
    </div>
</div>


