
<div style="text-align: justify">

	<div class="row form-group">
		<div class="col-md-12 ">
			<b>Welcome to your SIXT STEP to Abundance</b>
		</div>
	</div>
	<div class="row form-group">
		<div class="col-md-12 ">

			You may have remarked that up to now i only mentioned 1 text of the ‘old testament’.
			It is because i personally strongly believe in the NEW TESTAMENT.
			It is NEW because there is no more talking about  ‘fighting and killing’ in it

			It is about the contrary : honesty, clarity, freedom, love, joy and abundance
			This is what Jezus  wants for those who choose to follow him.


		</div>
	</div>
	<div class="row form-group">
		<div class="col-md-12 ">
			There is a saying :
			He proves the highest love, who gives his life for another.

			Jezus came to this earth, knowing that the devil reigned on this planet.
			Jezus gave his life,
			while dying the most cruel death that his enemies could imagine :
			slowly loosing all his blood during 6 hours.
			Imagine what you would have thought and felt if you were hanging there.
			But all these 6 hours, he only said : ‘forgive them, because they don’t know better.
		</div>
	</div>
	<div class="row form-group">
		<div class="col-md-12 ">
			He died + rose from death the 3rd day,
			not only to prove what he told before,
			but he also died for you, so that you would know better,
			so that you would know how to have freedom,  love,  joy and abundance.

			No other profet of no other religion
			had this level of belief, this level of personal control and power
			Jezus really is the only one who deserves the title RE =  REY = KING
			<b></b>« KING of this world »
			<b></b>The principle of PRAYER

			Even if you are an atheist, <b></b>YOU ARE PRAYING EVERY DAY

			Which words are you constantly repeating to yourself ?
			What are you  picturing in your mind’s eye ?
			Wether you are aware of it or not,
			that is your way of praying.

			Your life is slowly but surely  becoming what you are repeating in your mind.
			Your life will move in the direction of your thoughts, words and actions.

			So you’d better have thoughts of the highest frequency,
			and because we are spiritual beings living in a temporarely body,
			your thoughts  better be of the highest vibrations,
			closests to the thoughts of your creator.

			If you listen to your higher self,
			and talk to God,  your spiritual father
			ask in the name of Jezus
			and you will be given !
		</div>
	</div>

	<div class="row form-group">
		<div class="col-md-12 ">
			Matthew 7 / 7-8
			<br /><b>Ask, and it shall be given you; seek, and ye. shall find;</b>
			<br />knock, and it shall be opened unto you.
			For every one that asketh receiveth; and he that seeketh. findeth;
			and to him that knocketh it shall be opened.
			If you believe, you will receive whatever you ask for in prayer.
		</div>
	</div>


	<div class="row form-group">
		<div class="col-md-12 ">
			===  Bible    :  Matthew 21:22<br />
			And everything you ask in prayer, believing, you shall receive
		</div>
	</div>
	<div class="row form-group">
		<div class="col-md-12 ">
			===  Bible  :  <b>Mark 11:22-24</b><br />
			And Jesus answered them, “Have faith in God. Truly, I say to you, whoever says to this mountain, ‘Be taken up and thrown into the sea,’ and does not doubt in his heart, but believes that what he says will come to pass, it will be done for him. Therefore I tell you, whatever you ask in prayer, believe that you have received it, and it will be yours.
		</div>
	</div>
	<div class="row form-group">
		<div class="col-md-12 ">
			===  Bible  :  John 15: 7<br />
			"If you abide in Me, and My words abide  in you,
			you will ask what you desire, and it shall be done for  you"
		</div>
	</div>
	<div class="row form-group">
		<div class="col-md-12 ">
			===  Bible  :  James 1:5<br />
			If any of you lacks wisdom,
			let him ask God, who gives generously to all without reproach,
			and it will be given.
		</div>
	</div>
	<div class="row form-group">
		<div class="col-md-12 ">
			<b>The principle of the POWER OF YOUR THOUGHTS, WORDS and ACTIONS</b><br />
			===  Bible    :  	Proverbs 23 : 7 If you think wealthy, you will be wealthy.<br />
			===  Bible    :  	Romans  12 : 2 We are transformed by the renewing of our minds.<br />
			The  flesh counts for nothing.  It is with your heart that you believe and are justified,
			and it is with your mouth that you profess your faith and are saved.<br />
			===  Bible    :  	Proverbs 18 : 22<br />
			===  Bible    :  	Proverbs 15 : 4
		</div>
	</div>
	<div class="row form-group">
		<div class="col-md-12 ">
			<b>You have to give a SPOKEN command,</b> and impress your ideas upon  your subconscious,
			and your subconscious will faithfully reproduce them in your reality.<br />
			===  Bible    :  	Mark 7 : 15<br />
			===  Bible    :  	Mark 11:22-23<br />
			===  Bible    :      John  6:63<br />
			===  Bible    :  	Matthew 15 : 11<br />
		</div>
	</div>
	<div class="row form-group">
		<div class="col-md-12 ">
			<b>HOW TO SPEAK AND ORDER ?</b>
			Like someone who already HAS what he desires.<br />
			This means that ALL YOUR WORDS, what you say out loud + what you say to yourself
			must be FELT with THANKFULLNESS, with CONFIDENCE, with EXCITEMENT and EMOTIONS.<br />

			To more easily CREATE THESE EMOTIONS and FEELINGS OF SUCCESS
			You have to STOP using NEGATIVE OR NEUTRAL WORDS
			And  start using  POSITIVELY CHARGED WORDS like
			<br />
			<b>
				Fenomenal        Extraordinary      Excellent     Splendid    Amazing  Unbelievable
				Unlimited     Enthusiast    Fantastic   Outstanding   Wonderful   Impressive
				Curious   Creative   Excited    Ready    Thankful     Superior   Better   Best
				Unshakable    Perfect    Consistent     Beneficial     Extraordinary     Awesome
				Beautiful    Attractive   Dramatically   Powerfully  Easily   Effortlessly
			</b>
		</div>
	</div>
	<div class="row form-group">
		<div class="col-md-12 ">
			<b>The principle of the POWER OF YOUR  ACTIONS</b>
			<br />
			You are where you are now, because of ACTIONS taken or not taken in the past.
			Most of us, instead of taking full responsibility of everything that happens to us,
			we blame others or situations for what happens to us.<br />
			===  Bible    :  	James 1:22-24<br />
			But be doers of the word, and not hearers only, deceiving yourselves.
			For if anyone is a hearer of  the word and not a doer
			he is like a man who looks intently at his natural face in a mirror.
			For he looks at himself and goes away and at once forgets what he was like.<br />
			===  Bible    :  	Proverbs 10 : 4<br />
			Lazy hands make a man poor, but diligent hands bring wealth.
			<br />
			The moment you take <b>full responsibility</b> of who you are and where you are,
			you become the <b>MASTER OF YOUR UNIVERSE</b>
			<br />
			That is how God created you, and what is meant in
		</div>
	</div>
	<div class="row form-group">
		<div class="col-md-12 ">
			===  Bible    :      Gen 1 : 26 - 30<br />
			As resume of the previous lessons, i would like to talk about
			my personal deepest beliefs, and the links with this course.
			I believe that  :<br />

			God is the rey of this ‘spiritual’ universe
			(RE  stands for Rey, King)
			He/She created the fysical world that we can see, feel aso.
			by ‘thoughts’ + ‘words’
			He/She ‘spoke’ his ‘thoughts’ into fysical reality (see Genesis)<br />

			I also believe that God = love = ultimate freedom
			= ultimate abundance = endless existence above time and space<br />

			That he created us, his ‘children’, ‘like himself’
			giving each of us a limited ‘alike’ power
			We are SPIRITS living in this temporarily body on this temporarily earth<br />

			We are a spiritual SONS of our SPIRITUAL father,
			‘earning’ our way BACK to our fathers house.<br />

			Each of us has the CHOICE, 	every moment of the day
			OR to GROW to become more like him
			by living in higher spiritual frequencies, in higher dimensions of existence
			OR to SINK into lower forms of existance
			by chosing to live in lower fysical frequencies
		</div>
	</div>
	<div class="row form-group">
		<div class="col-md-12 ">
			JEZUS incarnated in this earth, to TELL us that
			we all have the CHOICE
			to use the power that God gave to all his children
			that we have the power to RE-new ourselves
			practically by RE-thinking,  RE-talking  and  RE-acting<br />

			and Jezus PROVED his power, and his words
			by so many miracles and by RISING UP from the death<br />

			OUR LIFE PURPOSE :<br />
			is to WAKE UP
			to BECOME THE MASTER of our life and future
			FEEL, THINK, SPEAK and ACT  in THANKFULNESS
			APPLY HIS WILL
			by CONSCIOUSLY CHOOSING THE HIGHEST OPTIONS
			Be <b>RE-born</b> so to speak
			and <b>RE-think,  RE-feel,  RE-talk  and  RE-do  your life</b>
		</div>
	</div>
	<div class="row form-group">
		<div class="col-md-12 ">
			So  HOW DO WE PRAY ?    <br />1 Thank him for all the good in our lives
			<br />2 Forgive yourself, and forgive others
			<br />3 Ask him to be forgive as well, to clean your soul.
			<br />4 After that, apply  the power he gave us
			<b>
				The more you apply  HIS WILL,
				the sooner all will become clear to you
				and the sooner all the good will be given to you
				in abundance
			</b>
		</div>
	</div>
	<div class="row form-group">
		<div class="col-md-12 ">
			<b>SOME  EXTRA  NOTES  :</b>
		</div>
	</div>
	<div class="row form-group">
		<div class="col-md-12 ">
			<b>
				Remember, it is not so much about believing in the result you want,
				but about believing in the power of your higher self,
				that brings the desired result.
			</b><br />
			*<br />
			The world within creates the world without.
			Your thoughts, feelings and visions are pure creative energy.
			The reaction of your subconscious corresponds to the nature of your thought.
			You always reap what you saw.
			Fill your mind with thoughts of harmony, health, peace and goodwill,
			and wonders will happen in your external life :
			harmonious conditions, agreable suroundings and the best of everything.
			When you control your thoughts, you can apply the powers of your higher
			subconscious to  any problem or difficulty.
			Simply by consciously collaborating  with the infinite power
			and omnipotent law that governs all.<br />
			*<br />
			Decree freedom, happiness and perfect health, and your subconscious,
			creative and one with your divine source,
			will create it in your visible reality.<br />
			*<br />
			In the Bible, Paul recommends that we make known our requests
			with praise and thanksgiving. Some extraordinary results follow this
			simple method of prayer, being thankful even before our prayers are
			answered..<br />
			The thankful heart is always close to the creative
			forces of the universe,
			causing countless blessings to flow toward it by the law of reciprocal relationship,
			based on a cosmic law of action and reaction.
			<br />
			*<br />
			You are always writing in the book of your life,
			because your thoughts become your experiences.
			What you ‘impress’ always becomes ‘expressed’
			<br />
			When conscious and subconscious are in concord, in peace,
			and synchronously together, you will have health,
			happiness, peace, and joy. There is no sickness or discord when the
			conscious and subconscious work together harmoniously and peacefully.
			<br />
			The egyptians already knew :
			<br />
			As within, so without;
			As above, so below.<br />

			As in heaven (your own Self), so on earth (in your body
			and environment), This is the great law of life.
		</div>
	</div>
	<div class="row form-group">
		<div class="col-md-12 ">
			*<br />
			You are building your mental home all the time, and your thoughts
			and mental imagery represent your blueprint. Hour by hour, moment
			by moment, you can build radiant health, success, and happiness by
			the thoughts you think, the ideas you harbor, the beliefs you accept,
			and the scenes you rehearse in the hidden studio of your mind. This
			stately mansion, upon the construction of which you are perpetually
			engaged, is your personality, your identity in this plane, your whole life
			story on this earth.<br />
			Get a new blueprint; build silently by realizing peace, harmony, joy,
			and goodwill in the present moment. By dwelling upon these things
			and claiming them, your subconscious will accept your blueprint and
			bring all these things to pass: By their fruits ye shall know them.
		</div>
	</div>
	<div class="row form-group">
		<div class="col-md-12 ">
			*<br />
			In the Bible as well, it is said:
			If two of you shall agree on earth about any thing that they shall ask,
			it shall be done for them by my Father who is in heaven.<br />
			Who are these two? They stand for the harmonious union or
			agreement between your conscious and subconscious on
			any idea, desire, or mental image. When there is no longer any quarrel
			between the different parts of your mind, your prayer will be answered.
			The two. agreeing may also be represented as your thought and feeling,
			your idea and emotion, your desire and imagination.<br />
			You avoid all conflict between your desires and imagination by entering
			into a drowsy, sleepy state that brings all effort to a minimum. The perfect time
			on which your conscious mind is able to impregnate your subconscious –
			is just prior to sleep. The reason for this is that the highest degree of outcropping
			of the subconscious occurs
			<br />
			<b>
				just before going to sleep and
				just after we awaken.
			</b><br /> In this state the negative thoughts and imagery
			that tend to neutralize your desire and so prevent acceptance by your
			subconscious mind no longer present themselves.<br />
			<b>
				When you imagine
				the reality of the fulfilled desire and feel the thrill of accomplishment,
				your subconscious brings about the realization of your desire.
			</b>
		</div>
	</div>
	<div class="row form-group">
		<div class="col-md-12 ">
			*<br />
			A mental picture is worth a thousand words. Your subconscious will
			bring to pass any picture held in the mind backed by faith.<br />
			Avoid all effort or mental coercion in prayer. Get into a sleepy,
			drowsy state and lull yourself to sleep, feeling and knowing that your
			prayer is answered.
		</div>
	</div>
	<div class="row form-group">
		<div class="col-md-12 ">
			*<br />
			Your highers self speaks to you in intuitions, impulses, hunches,
			intimations, urges, and ideas. It is always telling you to rise, transcend,
			grow, advance, adventure, and move forward to greater heights.
		</div>
	</div>
	<div class="row form-group">
		<div class="col-md-12 ">
			*
			<br />
			The way to get rid of darkness is with light;
			the way to overcome cold is with heat; the way to overcome
			the negative thought is to substitute it by the good thought.
			Affirm the good, and the bad will vanish.
		</div>
	</div>
	<div class="row form-group">
		<div class="col-md-12 ">
			*
			<br />
			It is abnormal to be sick. The condition of sickness simply means that
			you are going against the stream of life by thinking negatively.<br /> The
			law of life is the law of growth; all nature testifies to the operation of this
			law by silently, constantly expressing itself in growth. Where there is
			growth and expression, there must be life; where there is life there must
			be harmony; and where there is harmony, there is perfect health.<br />
			If your thought is in harmony with the creative principle of your subconscious
			mind, you are in tune with the innate principle of harmony.<br />
			If you entertain thoughts that are not in accordance with the principle of
			harmony, these thoughts cling to you, harass you, worry you, and finally
			bring about disease, and if persisted in, possibly death.
		</div>
	</div>
	<div class="row form-group">
		<div class="col-md-12 ">
			*
			<br />
			Working harder does not lead to better results.<br />
			Use no willpower. Instead, visualize the end and the state of freedom it
			produces. You will find your intellect trying to get in the way, trying to
			find ways to solve the problem and impose those ways on your subconscious.<br />
			Resist this. Put away your intellectual problem-solving skills. Persist
			in maintaining a simple, childlike, miracle-making faith. Picture yourself
			without the ailment or problem. Imagine the emotional gratification
			of the freedom state you seek. The simple way is the best.
		</div>
	</div>

	<div class="row form-group">
		<div class="col-md-12 ">
			*<br />
			The effortless way of life is the best. Do the thing
			you love to do, and do it for the joy and thrill of it.<br />
			the feeling of wealth will well up within you as you dwell on the idea of wealth.<br />
			The feeling of wealth produces wealth; keep this in mind at all times.<br />
		</div>
	</div>
	<div class="row form-group">
		<div class="col-md-12 ">
			*<br />
			The true inner meaning of success
			is to be successful at the enterprise of living.<br />
			A long period of peace, joy, and happiness on this plane
			may be termed success.<br />
			The eternal experience of these qualities is theeverlasting life spoken of by Jesus.<br />
			The real things of life, such as peace, harmony, integrity, security, and happiness,
			are intangible.<br />
			They come from the deep self of human beings.<br />
			Meditating on these qualities builds these treasures of heaven in our subconscious.<br />
			That is the true place where ...moth and rust do not consume,
			and where thieves do not break through and steal.
		</div>
	</div>
	<div class="row form-group">
		<div class="col-md-12 ">
			As promised the 2 reasons WHY we give higher reductions to those who spread our message
			to more friends.
		</div>
	</div>
	<div class="row form-group">
		<div class="col-md-12 ">
			The first reason is that  in most countries there are laws against the sending of undesired emails.
		</div>
	</div>
	<div class="row form-group">
		<div class="col-md-12 ">
			But the main reason is
			Genesis 24:67 Isaak en zijn vrouw Rebecca
			Leviticus 19:17-18  Heb je naaste lief als jezelf. Ik ben de HEER.
			Ruth 4:15 de liefde vanRuth voor haar schoonmoeder Noömi
			1 Samuel 18:1 de liefde tussen Jonathan en David
			Ester 2:17  Koning Ahasveros en zijn vrouw Ester
			Hooglied 8:6
		</div>
	</div>
	<div class="row form-group">
		<div class="col-md-12 ">
			Johannes 13:34-35  Een nieuw gebod
			Romeinen 12:9-10 Acht de ander hoger dan uzelf
			Paulus 1 Korintiers 13:1-13
		</div>
	</div>
	<div class="row form-group">
		<div class="col-md-12 ">

		</div>
	</div>
	<div class="row form-group">
		<div class="col-md-12 ">

		</div>
	</div>

</div>