
<div style="text-align: justify">

	<div class="row form-group">
		<div class="col-md-12 ">
			<b>Welcome to your FIFTH STEP to Abundance</b>
		</div>
	</div>
	<div class="row form-group">
		<div class="col-md-12 ">
			This 5th step + the last 6th step are the most important,
			Because they will clear the internal ’blockages’  in your subconscious.
			And they are related to GOD !
			“But i don’t believe in God”, you might think.
		</div>
	</div>
	<div class="row form-group">
		<div class="col-md-12 ">
			<b>The principle of BELIEVING</b>
		</div>
	</div>
	<div class="row form-group">
		<div class="col-md-12 ">
			No problem, even if you are agnostic or atheist,
			you believe in ‘something’, maybe the universe, science , aliens, yourself ?
			Finally all is created and ruled by the same 1 and only  intelligent force.
			Your  BELIEFS are important , because your ‘beliefs’ affect your ‘reality’, your ‘results’.
			So if you want to change your results, you need to examine what you believe in !
		</div>
	</div>
	<div class="row form-group">
		<div class="col-md-12 ">
			The ‘abundant life’ we talked about in the previous lessons = YOU,  your HIGHER SELF
			You can discover the miracle-working power of  YOU,  your heavenly higher self
			by plainly stating to your subconscious, prior to your sleep, what specific you want.
			You will be delighted to discover that forces within you will be released,
			that lead to the result you wished for.
			Here is a source of power and wisdom, that puts you directly in touch with omnipotence.
			This is the power that moves the world, guides the planets in their course
			and causes the sun to shine.
		</div>
	</div>
	<div class="row form-group">
		<div class="col-md-12 ">
			Because results in life depend also on what you DO,
			It is in your highest interest to buy 1 book,  if you don’t have it yet : a BIBLE
			Please in your bible :  ‘read’   + ‘highlight’  or   ‘color’ how you can create miracles in your life.
			Read that again ……..
		</div>
	</div>
	<div class="row form-group">
		<div class="col-md-12 ">
			<b>how you can create MIRACLES in your life :</b>
			<br />===  Bible    :  Matthew 6 : 19-21
			<br />===  Bible    :  Matthew 6 : 33<br />
			===  Bible    :  Matthew 9 : 2<br />
			===  Bible    :  Matthew 9 : 20 -22<br />
			===  Bible    :  Matthew 9 : 27 - 29<br />
			===  Bible    :  Matthew 13 : 54-58<br />
			===  Bible    :  Matthew 14 : 31<br />
			===  Bible    :  Matthew 15 : 28<br />
			===  Bible    :  Matthew 16 :  15 - 18<br />
			===  Bible    :  Matthew 17 : 20 - 21<br />
			===  Bible    :  Matthew 21 : 21 - 22<br />
			===  Bible    :  John 3 : 16 - 17<br />
			===  Bible    :  John 3 : 36<br />
			===  Bible    :  John 6 : 35<br />
			===  Bible    :  John 7 : 38<br />
			===  Bible    :  John 11 : 25-26<br />
			===  Bible    :  John 11 : 40<br />
			===  Bible    :  John 14 : 12<br />
			===  Bible    :  John 20 : 29<br />
			===  Bible    :  Marc 9 : 23<br />
			===  Bible    :  Marc 10 : 52<br />
			===  Bible    :  Marc 11 : 23-24<br />
			===  Bible    :  Luke  7 : 8-10<br />
			===  Bible    :  Luke  8 : 50<br />
			===  Bible    :  Luke  12 : 28<br />
			===  Bible    :  Luke  17 : 12-19<br />
		</div>
	</div>
	<div class="row form-group">
		<div class="col-md-12 ">
			<b>THE SECOND THING TO DO RIGHT NOW = FORGIVE</b>
		</div>
	</div>
	<div class="row form-group">
		<div class="col-md-12 ">
			If you don’t, you will certainly be unable to do any miracles,
			or obtain anything.
		</div>
	</div>
	<div class="row form-group">
		<div class="col-md-12 ">
			Let’s start with step 2 :
		</div>
	</div>
	<div class="row form-group">
		<div class="col-md-12 ">
			Jezus said, 	you will be forgiven
			in the extend that you forgive those who wronged you.
			This 2nd step already is very difficult for all of us.
			If people have hurt you deeply,
			it is very difficult to forgive them.
			Not just think or say you forgive them,
			But deeply 100 % FEEL that they are forgiven, because
			‘You forgive others for your own selfish benefit’
		</div>
	</div>
	<div class="row form-group">
		<div class="col-md-12 ">
			But the reason why you should do so is step 1, the most important :
			You have to be forgiven yourself.   WHY ?
		</div>
	</div>
	<div class="row form-group">
		<div class="col-md-12 ">
			1. Every wrong you did in the past, against the universal laws,
			weighs heavily on you, and keeps holding you back in making progress.
			<br />2. FORGIVENESS is a LIFE LESSON
			As long as you have things or events or people you do not forgive,
			<br />« life will give you more of such painful events,
			until you learn this lesson and forgive them all »
			<br />
			For this, YOU HAVE TO FORGIVE YOURSELF TOO.
			For all the wrong you did in the past.
			<br />
			I suppose that you still have your 5 minutes breaks, a few times every day.
			Keep doing it,  but let’s call it  a ‘MEDITATION BREAK’ from now on.
			Meditating for me is  ‘being still’ and  ‘ listen to the spiritual voice within’.
		</div>
	</div>
	<div class="row form-group">
		<div class="col-md-12 ">
			How do you make the swift ?
		</div>
	</div>
	<div class="row form-group">
		<div class="col-md-12 ">
			From now on, when you are ‘getting silent’ for 20 to 60 seconds,
			tell your ‘subconscious’, your ‘little devil’, your ‘ego’ :
			<br />
			«  be silent now,   absolutely silent,
			Only if you are totally silent, i can hear  the small soft voice,
			with messages and advises  from my ‘higher  spiritual self’ »
		</div>
	</div>
	
	<div class="row form-group">
		<div class="col-md-12 ">

		</div>
	</div>

</div>










