<div style="text-align: justify">

	<div class="row form-group">
		<div class="col-md-12 ">
			<b>Welcome to your SECOND STEP to Abundance</b>
		</div>
	</div>
	<div class="row form-group">
		<div class="col-md-12 ">
			<b>The principle of CONTROL, FOCUS and DISCIPLINE</b>
		</div>
	</div>
	<div class="row form-group">
		<div class="col-md-12 ">
			In the first step we mentioned your enemy and your biggest problem :
			your EGO,  the powerful REPTILIAN PART of your subconscious brain.	
		</div>
	</div>
	<div class="row form-group">
		<div class="col-md-12 ">
			We are bringing it up again,
			because maybe you had big difficulties with it.
		</div>
	</div>
	<div class="row form-group">
		<div class="col-md-12 ">
			Believe me, becoming ABUNDANT has everything
			e v e r y t h in g  to do with defeating your little devil.
			OR YOU CONTROL your mind and your future
			OR YOUR EGO will control you,
			just like it probably did up to now.
		</div>
	</div>
	<div class="row form-group">
		<div class="col-md-12 ">
			So how do you defeat your little devil ?
			From now on, try working 6 times a day for 5 minutes on your abundance-project :
			<ul>
				<li>
					First slowly and attentively read your purpose-text
				</li>
				<li>
					Close your eyes, relax your body and take 5 deep breaths, to bring more oxygen to your brain.
				</li>
				<li>
					Then slowly count in silence to 20, while NOT  THINKING  AT  ALL
				</li>
			</ul>	
		</div>
	</div>
	<div class="row form-group">
		<div class="col-md-12 ">
			20 slow breathings in+out without thinking at anything
			If your little devil manages to press a thought through,
			start again from 0
			<ul>
				<li>
					Just like a cat can sit still for hours above the mouse-hole
					you  have to be MINDLESS for 20 breaths
					That’s all
					But THESE 30 to 40 seconds will be your first victories over your ego.
					This is the silence you need to create your future.
				</li>
				<li>
					After that, think, but only focus on your abundance film
				</li>
			</ul>
		</div>
	</div>
	<div class="row form-group">
		<div class="col-md-12 ">
			While being in this MINDLESS time, you will feel your ego pushing at the door.
			But you strongly have to think : NO, NOT NOW.    THIS IS MY TIME.
			BE STILL.    BE QUIET.      I AM IN CONTROL.      YOU MUST OBEY ME.
			And he will wait, because you were created as the MASTER.
			Your ego was created as the servant of your conscious.
			(although, for 99 % of people their ego is their master,
			just as it probably was your master up to now)
			You will be surprised what happens when you speak with authority and conviction
			to your reptilian brain, your ego, your little devil.
			Just like most dogs are stubborn and  have to be trained,
			ultimately a dog is only happy when he has accepted his master.
			Your subconscious will be filled with harmony and peace,
			once you trained it, and it is under command of your conscious.
			That’s why it is called subconscious.
		</div>
	</div>
	<div class="row form-group">
		<div class="col-md-12 ">
			These 4 months are your ‘BATTLE  FOR  MASTERY  OVER  YOUR  FUTURE’
			Eather you WIN or you LOOSE. There is no in-between.
		</div>
	</div>
	<div class="row form-group">
		<div class="col-md-12 ">
			This is all about DISCIPLINE,  and FOCUS on what YOU WANT.
		</div>
	</div>
	
	<div class="row form-group">
		<div class="col-md-12 ">
			Remember what i wrote before :<br/>
			<b>
				If you really want to see abundance in your life,
				Don’t forget that YOU ARE so to speak  THE CAPTAIN  of a huge  OIL TANKER.
				With only 1 small steering wheel and some buttons YOU are in complete control.
				The enormous powerful engines of your tanker  OBEY  YOUR  ORDERS.
				You only have to DICTATE YOUR ORDERS and STAY IN CONTROL
				EVERY MINUTE that you are in the captains seat, at your steering wheel.
			</b>			
		</div>
	</div>
	<div class="row form-group">
		<div class="col-md-12 ">
			For this reason, this 2nd step is about  fighting for your captains seat,
			simply by doing your MIND-JOB not 2 times each day, but 6 times each day.
		</div>
	</div>
	<div class="row form-group">
		<div class="col-md-12 ">
			THIS IS THE MOST IMPORTANT JOB YOU EVER DID


			So find the 6 x 5 minutes
			to FOCUS on everything i explained up to now.

			If you can do this, the next steps will be much easier.


			If you did not do all this well up to now :
			do NOT read the following lessons
			restart from the beginning
			and do it all correctly.

			If you are giving in now, you will continue to give in during the next lessons.
			This course is NOT about reading and knowing, but about DOING !!!

			It’s better to spend  1 extra month now, than to loose your future !!!
			So first become stronger !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
		</div>
	</div>
	<div class="row form-group">
		<div class="col-md-12 ">

		</div>
	</div>
	<div class="row form-group">
		<div class="col-md-12 ">

		</div>
	</div>
	<div class="row form-group">
		<div class="col-md-12 ">

		</div>
	</div>
	<div class="row form-group">
		<div class="col-md-12 ">

		</div>
	</div>
	<div class="row form-group">
		<div class="col-md-12 ">

		</div>
	</div>

</div>