
@{
    ViewBag.Title = "Promote";
}

<div ng-controller="PromoteController" id="Promote&earn">


</div>




    @section scripts {
        <script type="text/javascript" src="~/js/PromoteController.js"></script>
    }
